In [1]:
import pandas as pd

# Reading data from the file

In [16]:
data = pd.read_csv('mkt_data.csv')

In [17]:
data.head()

,id,send_date,estimated_age,age_range,channel,coupon,clicked,last_step,nb_units,order_value
0,1,2019-04-12,59,46-60,SMS,2,0,received,0,0
1,2,2019-04-08,27,18-30,Email,2,0,received,0,0
2,3,2019-04-05,74,60+,Email,2,0,received,0,0
3,4,2019-04-21,32,31-45,SMS,2,0,received,0,0
4,5,2019-04-28,42,31-45,Email,2,0,received,0,0

# Given information

In [4]:
cost_per_sms = 0.05
cost_per_email = 0.075
allocated_fund = 60000
production_cost_per_razor = 18
price_with_out_coupon = 40

In [20]:
age_group = ['18-30','31-45','46-60','60+']

In [69]:
sms_18_30_count = 0
email_18_30_count = 0
sms_31_45_count = 0
email_31_45_count = 0
sms_46_60_count = 0
email_46_60_count = 0
sms_61_count = 0
email_61_count = 0

# Here I am calculating the count for each campaign age group wise

In [70]:
for ind in data.index:
    
    if data['age_range'][ind] == '18-30':
        if data['channel'][ind] == 'SMS':
            sms_18_30_count = sms_18_30_count + 1       
        elif data['channel'][ind] == 'Email':
            email_18_30_count = email_18_30_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '31-45':
        if data['channel'][ind] == 'SMS':
            sms_31_45_count = sms_31_45_count + 1       
        elif data['channel'][ind] == 'Email':
            email_31_45_count = email_31_45_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '46-60':
        if data['channel'][ind] == 'SMS':
            sms_46_60_count = sms_46_60_count + 1       
        elif data['channel'][ind] == 'Email':
            email_46_60_count = email_46_60_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '60+':
        if data['channel'][ind] == 'SMS':
            sms_61_count = sms_61_count + 1       
        elif data['channel'][ind] == 'Email':
            email_61_count = email_61_count + 1           
        else:
            pass
        
    else:
        pass

# Calculating the total count

In [71]:
total = sms_18_30_count + sms_31_45_count + sms_46_60_count + sms_61_count + email_18_30_count + email_31_45_count + email_46_60_count + email_61_count

In [72]:
if total == len(data):
    print(True)

True

# Calculating the count age group wise

In [73]:
count_18_30 = sms_18_30_count + email_18_30_count
count_31_45 = sms_31_45_count + email_31_45_count
count_46_60 = sms_46_60_count + email_46_60_count
count_61_ = sms_61_count + email_61_count

# Calculating the count of SMS and Email campaign seperately

In [74]:
total_sms = sms_18_30_count + sms_31_45_count + sms_46_60_count + sms_61_count
total_email = email_18_30_count + email_31_45_count + email_46_60_count + email_61_count

# Here I am calculating the total amount spent on campaigns

In [75]:
total_amount_for_sms = cost_per_sms * total_sms
total_amount_for_email = cost_per_email * total_email

In [76]:
total_campaign_amount = total_amount_for_sms + total_amount_for_email

In [77]:
amount_on_sms_18_30_count = sms_18_30_count * cost_per_sms
amount_on_email_18_30_count = email_18_30_count * cost_per_email
amount_on_sms_31_45_count = sms_31_45_count * cost_per_sms
amount_on_email_31_45_count = email_31_45_count * cost_per_email
amount_on_sms_46_60_count = sms_46_60_count * cost_per_sms
amount_on_email_46_60_count = email_46_60_count * cost_per_email
amount_on_sms_61_count = sms_61_count * cost_per_sms
amount_on_email_61_count = email_61_count * cost_per_email

In [78]:
amount_on_18_30 = amount_on_sms_18_30_count + amount_on_email_18_30_count
amount_on_31_45 = amount_on_sms_31_45_count + amount_on_email_31_45_count
amount_on_46_60 = amount_on_sms_46_60_count + amount_on_email_46_60_count
amount_on_61_ = amount_on_sms_61_count + amount_on_email_61_count

# Calculating the percentage of amount spent for each age group and emails/SMS

In [79]:
percentage_on_18_30 = (amount_on_18_30/total_campaign_amount) 
percentage_on_31_45 = (amount_on_31_45/total_campaign_amount) 
percentage_on_46_60 = (amount_on_46_60/total_campaign_amount) 
percentage_on_61_ = (amount_on_61_/total_campaign_amount)

In [80]:
percentage_on_18_30_sms = (amount_on_sms_18_30_count/percentage_on_18_30) 
percentage_on_31_45_sms = (amount_on_sms_31_45_count/percentage_on_31_45)
percentage_on_46_60_sms = (amount_on_sms_46_60_count/percentage_on_46_60)
percentage_on_61_sms = (amount_on_sms_61_count/percentage_on_61_) 
percentage_on_18_30_email = (amount_on_email_18_30_count/percentage_on_18_30) 
percentage_on_31_45_email = (amount_on_email_31_45_count/percentage_on_31_45) 
percentage_on_46_60_email = (amount_on_email_46_60_count/percentage_on_46_60) 
percentage_on_61_email = (amount_on_email_61_count/percentage_on_61_)

In [82]:
total_campaign_amount

18412.225

# Here I am calculating the count for each campaign age group wise through which user has purchsed items

In [83]:
successful_sms_18_30_count = 0
successful_email_18_30_count = 0
successful_sms_31_45_count = 0
successful_email_31_45_count = 0
successful_sms_46_60_count = 0
successful_email_46_60_count = 0
successful_sms_61_count = 0
successful_email_61_count = 0

for ind in data.index:
    
    if data['age_range'][ind] == '18-30':
        if data['channel'][ind] == 'SMS':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_sms_18_30_count = successful_sms_18_30_count + 1       
        elif data['channel'][ind] == 'Email':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_email_18_30_count = successful_email_18_30_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '31-45':
        if data['channel'][ind] == 'SMS':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_sms_31_45_count = successful_sms_31_45_count + 1       
        elif data['channel'][ind] == 'Email':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_email_31_45_count = successful_email_31_45_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '46-60':
        if data['channel'][ind] == 'SMS':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_sms_46_60_count = successful_sms_46_60_count + 1       
        elif data['channel'][ind] == 'Email':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_email_46_60_count = successful_email_46_60_count + 1           
        else:
            pass
        
    elif data['age_range'][ind] == '60+':
        if data['channel'][ind] == 'SMS':
            if data['clicked'][ind] == 1:
                if  data['last_step'][ind] == 'purchased':
                    successful_sms_61_count = successful_sms_61_count + 1       
        elif data['channel'][ind] == 'Email':
            if data['clicked'][ind] == 1:
                if data['last_step'][ind] == 'purchased':
                    successful_email_61_count = successful_email_61_count + 1           
        else:
            pass
        
    else:
        pass

# Below I have done the similar things for successful campaigns that I have done above : calculating amount for each campaign and age group and their corresponding percentages

In [87]:
success_count = successful_sms_18_30_count + successful_email_18_30_count + successful_sms_31_45_count + successful_email_31_45_count +  successful_sms_46_60_count + successful_email_46_60_count + successful_sms_61_count + successful_email_61_count

In [89]:
success_count_18_30 = successful_sms_18_30_count + successful_email_18_30_count
success_count_31_45 = successful_sms_31_45_count + successful_email_31_45_count
success_count_46_60 = successful_sms_46_60_count + successful_email_46_60_count
success_count_61_ = successful_sms_61_count + successful_email_61_count

In [90]:
amount_on_success_sms_18_30_count = successful_sms_18_30_count * cost_per_sms
amount_on_success_email_18_30_count = successful_email_18_30_count * cost_per_email
amount_on_success_sms_31_45_count = successful_sms_31_45_count * cost_per_sms
amount_on_success_email_31_45_count = successful_email_31_45_count * cost_per_email
amount_on_success_sms_46_60_count = successful_sms_46_60_count * cost_per_sms
amount_on_success_email_46_60_count = successful_email_46_60_count * cost_per_email
amount_on_success_sms_61_count = successful_sms_61_count * cost_per_sms
amount_on_success_email_61_count = successful_email_61_count * cost_per_email

In [91]:
t_a_f_s_c = amount_on_success_sms_18_30_count + amount_on_success_email_18_30_count + amount_on_success_sms_31_45_count + amount_on_success_email_31_45_count + amount_on_success_sms_46_60_count + amount_on_success_email_46_60_count + amount_on_success_sms_61_count + amount_on_success_email_61_count

In [92]:
p_amount_on_success_sms_18_30_count = amount_on_success_sms_18_30_count / t_a_f_s_c
p_amount_on_success_email_18_30_count = amount_on_success_email_18_30_count / t_a_f_s_c
p_amount_on_success_sms_31_45_count = amount_on_success_sms_31_45_count / t_a_f_s_c
p_amount_on_success_email_31_45_count = amount_on_success_email_31_45_count / t_a_f_s_c
p_amount_on_success_sms_46_60_count = amount_on_success_sms_46_60_count / t_a_f_s_c
p_amount_on_success_email_46_60_count = amount_on_success_email_46_60_count / t_a_f_s_c
p_amount_on_success_sms_61_count = amount_on_success_sms_61_count / t_a_f_s_c
p_amount_on_success_email_61_count = amount_on_success_email_61_count / t_a_f_s_c

In [100]:
amount_on_s_18_30 = amount_on_success_sms_18_30_count + amount_on_success_email_18_30_count
amount_on_s_31_45 = amount_on_success_sms_31_45_count + amount_on_success_email_31_45_count
amount_on_s_46_60 = amount_on_success_sms_46_60_count + amount_on_success_email_46_60_count
amount_on_s_61_ = amount_on_success_sms_61_count + amount_on_success_email_61_count

percentage_on_success_18_30 = (amount_on_s_18_30/t_a_f_s_c) 
percentage_on_success_31_45 = (amount_on_s_31_45/t_a_f_s_c) 
percentage_on_success_46_60 = (amount_on_s_46_60/t_a_f_s_c) 
percentage_on_success_61_ = (amount_on_s_61_/t_a_f_s_c)

# Here I have created the new data frame for better understadings and calculating the amount to be distributed among the age groups campaigns wise from the allocated amount for the next quarter

In [127]:
newdata = pd.DataFrame()

In [128]:
newdata['age_group'] = age_group

In [129]:
newdata['pool_size'] = ['300000','350000','500000','200000']

In [130]:
newdata.head()

  age_group pool_size
0     18-30    300000
1     31-45    350000
2     46-60    500000
3       60+    200000

In [131]:
amount_to_spent_on_18_30 = allocated_fund * percentage_on_18_30
amount_to_spent_on_31_45 = allocated_fund * percentage_on_31_45
amount_to_spent_on_46_60 = allocated_fund * percentage_on_46_60
amount_to_spent_on_60_ = allocated_fund * percentage_on_61_

In [132]:
overall_amount_to_spent = [amount_to_spent_on_18_30,amount_to_spent_on_31_45,amount_to_spent_on_46_60,amount_to_spent_on_60_]

In [133]:
amount_as_per_success_on_18_30 = allocated_fund * percentage_on_success_18_30
amount_as_per_success_on_31_45 = allocated_fund * percentage_on_success_31_45
amount_as_per_success_on_46_60 = allocated_fund * percentage_on_success_46_60
amount_as_per_success_on_60_ = allocated_fund * percentage_on_success_61_

In [134]:
success_amount = [amount_as_per_success_on_18_30,amount_as_per_success_on_31_45,amount_as_per_success_on_46_60,amount_as_per_success_on_60_ ]

In [135]:
s_sms_amount_18_30 = allocated_fund * p_amount_on_success_sms_18_30_count
s_sms_amount_31_45 = allocated_fund * p_amount_on_success_sms_31_45_count
s_sms_amount_46_60 = allocated_fund * p_amount_on_success_sms_46_60_count
s_sms_amount_60_ = allocated_fund * p_amount_on_success_sms_61_count

In [136]:
sms_success_amount = [s_sms_amount_18_30,s_sms_amount_31_45,s_sms_amount_46_60,s_sms_amount_60_]

In [137]:
s_email_amount_18_30 = allocated_fund * p_amount_on_success_email_18_30_count
s_email_amount_31_45 = allocated_fund * p_amount_on_success_email_31_45_count
s_email_amount_46_60 = allocated_fund * p_amount_on_success_email_46_60_count
s_email_amount_60_ = allocated_fund * p_amount_on_success_email_61_count

In [138]:
email_success_amount = [s_email_amount_18_30,s_email_amount_31_45,s_email_amount_46_60,s_email_amount_60_]

In [139]:
newdata['Overall_amount'] = overall_amount_to_spent

In [140]:
newdata['Success_amount'] = success_amount
newdata['SMS_success_amount'] = sms_success_amount
newdata['Email_success_amount'] = email_success_amount

In [142]:
newdata

,age_group,pool_size,Overall_amount,Success_amount,SMS_success_amount,Email_success_amount
0,18-30,300000,20438.105661,21459.760274,10941.780822,10517.979452
1,31-45,350000,24577.149150,26250.000000,4751.712329,21498.287671
2,46-60,500000,10166.098883,12059.075342,7628.424658,4430.650685
3,60+,200000,4818.646307,231.164384,154.109589,77.054795

In [180]:
print('----------------------------------------------------------------')
print('\n')
print('First we have analysed the  previous data that how much we have spent on capaigns(sms/email)')
print('\nOur first step would be that we will count the campaigns for each group that we have ran till yet')
print('\nTotal count campaigns: {}'.format(total))
print('\nSeperately :')
print('Total SMS campaigns : {}'.format(total_sms))
print('Total Email campaigns : {}'.format(total_email))
print('\nAge Group wise campaign counts :')
print('18-30 :{}, 31-45 :{}, 46-60 :{}, 60+ :{}'.format(count_18_30,count_31_45,count_46_60,count_61_))

print('\nNow we will find out the amount spent on campagins')
print('\nTotal amount we have been spent on above campaigns :')
print('Total amount spent :{}'.format(total_campaign_amount))

print('\nTotal amount we have spent on SMS :{}'.format(total_amount_for_sms))
print('Total amount we have spent on Email :{}'.format(total_amount_for_email))

print('\nTotal amount spent SMS and Email for each age group :')
print('For SMS to 18-30 :{}'.format(amount_on_sms_18_30_count))
print('For Email to 18-30 :{}'.format(amount_on_email_18_30_count))
print('For SMS to 31-45 :{}'.format(amount_on_sms_31_45_count))
print('For Email to 31-45 :{}'.format(amount_on_email_31_45_count))
print('For SMS to 46-60 :{}'.format(amount_on_sms_46_60_count))
print('For Email to 46-60 :{}'.format(amount_on_email_46_60_count))
print('For SMS to 60+ :{}'.format(amount_on_sms_61_count))
print('For Email to 60+ :{}'.format(amount_on_email_61_count))

print('\nNow we will see that in what percentage we have spent the total amount({}) on different age groups'.format(total_campaign_amount))
print('18-30 :{}%, 31-45 :{}%, 46-60 :{}%, 60+ :{}%'.format(percentage_on_18_30*100,percentage_on_31_45*100,percentage_on_46_60*100,percentage_on_61_*100))

print('\nNOTE : Above we have done the analysis on the data with out considering the last steps that whether users had purchased item using that campaign or not')

print('\nNow we will consider the last steps if user has purchased using that camapign then we will count the successful campaigns:')

print('\nTotal successful campaigns count : {}'.format(success_count))
print('\nTotal successful SMS campaign count : {}'.format(successful_sms_18_30_count+successful_sms_31_45_count+successful_sms_46_60_count+successful_sms_61_count))
print('Total successful Email campaign count : {}'.format(successful_email_18_30_count+successful_email_31_45_count+successful_email_46_60_count+successful_email_61_count))

print('\nFor successful SMS to 18-30 :{}'.format(successful_sms_18_30_count))
print('For successful Email to 18-30 :{}'.format(successful_email_18_30_count))
print('For successful SMS to 31-45 :{}'.format(successful_sms_31_45_count))
print('For successful Email to 31-45 :{}'.format(successful_email_31_45_count))
print('For successful SMS to 46-60 :{}'.format(successful_sms_46_60_count))
print('For successful Email to 46-60 :{}'.format(successful_email_46_60_count))
print('For successful SMS to 60+ :{}'.format(successful_sms_61_count))
print('For successful Email to 60+ :{}'.format(successful_email_61_count))

print('\nTotal amount spent on Successful campaigns : {}'.format(t_a_f_s_c))

print('\nWhat percentage of amount that we have spent on Successful campaigns seperately age group and campaign wise :')
print('For successful SMS to 18-30 : {}%'.format(p_amount_on_success_sms_18_30_count * 100))
print('For successful Email to 18-30 : {}%'.format(p_amount_on_success_email_18_30_count * 100))
print('For successful SMS to 31-45 : {}%'.format(p_amount_on_success_sms_31_45_count * 100))
print('For successful Email to 31-45 : {}%'.format(p_amount_on_success_email_31_45_count * 100))
print('For successful SMS to 46-60 : {}%'.format(p_amount_on_success_sms_46_60_count * 100))
print('For successful Email to 46-60 : {}%'.format(p_amount_on_success_email_46_60_count * 100))
print('For successful SMS to 60+ : {}%'.format(p_amount_on_success_sms_61_count * 100))
print('For successful Email to 60+ : {}%'.format(p_amount_on_success_email_61_count * 100))

print('\n\nNow we have some allocated amount that we have to spent on the campaigns for next quarter : {}'.format(allocated_fund))
print('\nNow using the percentage of amount that we have calculated for successful campaigns we will distribute the allocated amount among the differebt age groups campaign wise')

print('\nSo finally our distribution would be like this : ')
print(newdata.head())

print('\nOverall amount : The amount is calculated with out considering finalsteps for each age group')
print('Success amount : The amount is calculated with consideration of finalsteps for each age group')
print('SMS_success_amount : The amount is calculated for SMS with consideration of finalsteps for each age group')
print('Email_success_amount : The amount is calculated for Email with consideration of finalsteps for each age group')

----------------------------------------------------------------


First we have analysed the  previous data that how much we have spent on capaigns(sms/email)

Our first step would be that we will count the campaigns for each group that we have ran till yet

Total count campaigns: 300000

Seperately :
Total SMS campaigns : 163511
Total Email campaigns : 136489

Age Group wise campaign counts :
18-30 :102107, 31-45 :122900, 46-60 :50893, 60+ :24100

Now we will find out the amount spent on campagins

Total amount we have been spent on above campaigns :
Total amount spent :18412.225

Total amount we have spent on SMS :8175.55
Total amount we have spent on Email :10236.675

Total amount spent SMS and Email for each age group :
For SMS to 18-30 :2772.3500000000004
For Email to 18-30 :3499.5
For SMS to 31-45 :3351.0
For Email to 31-45 :4191.0
For SMS to 46-60 :1394.6000000000001
For Email to 46-60 :1725.075
For SMS to 60+ :657.6
For Email to 60+ :821.1

Now we will see that in what percentage we have spent the total amount(18412.225) on different age groups
18-30 :34.06350943462836%, 31-45 :40.961915249243376%, 46-60 :16.943498137786175%, 60+ :8.031077178342109%

NOTE : Above we have done the analysis on the data with out considering the last steps that whether users had purchased item using that campaign or not

Now we will consider the last steps if user has purchased using that camapign then we will count the successful campaigns:

Total successful campaigns count : 1862

Total successful SMS campaign count : 914
Total successful Email campaign count : 948

For successful SMS to 18-30 :426
For successful Email to 18-30 :273
For successful SMS to 31-45 :185
For successful Email to 31-45 :558
For successful SMS to 46-60 :297
For successful Email to 46-60 :115
For successful SMS to 60+ :6
For successful Email to 60+ :2

Total amount spent on Successful campaigns : 116.8

What percentage of amount that we have spent on Successful campaigns seperately age group and campaign wise :
For successful SMS to 18-30 : 18.236301369863014%
For successful Email to 18-30 : 17.529965753424655%
For successful SMS to 31-45 : 7.919520547945205%
For successful Email to 31-45 : 35.830479452054796%
For successful SMS to 46-60 : 12.714041095890414%
For successful Email to 46-60 : 7.384417808219178%
For successful SMS to 60+ : 0.2568493150684932%
For successful Email to 60+ : 0.12842465753424656%


Now we have some allocated amount that we have to spent on the campaigns for next quarter : 60000

Now using the percentage of amount that we have calculated for successful campaigns we will distribute the allocated amount among the differebt age groups campaign wise

So finally our distribution would be like this :
  age_group pool_size  Overall_amount  Success_amount  SMS_success_amount  \
0     18-30    300000    20438.105661    21459.760274        10941.780822
1     31-45    350000    24577.149150    26250.000000         4751.712329
2     46-60    500000    10166.098883    12059.075342         7628.424658
3       60+    200000     4818.646307      231.164384          154.109589

   Email_success_amount
0          10517.979452
1          21498.287671
2           4430.650685
3             77.054795

Overall amount : The amount is calculated with out considering finalsteps for each age group
Success amount : The amount is calculated with consideration of finalsteps for each age group
SMS_success_amount : The amount is calculated for SMS with consideration of finalsteps for each age group
Email_success_amount : The amount is calculated for Email with consideration of finalsteps for each age group